@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.home-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.home-number {
  position: relative;
  z-index: 1;
  margin-top: 100vh;
  background-color: white;
}

#root {
  width: 100%;        /* Make the root container responsive */
  height: auto;       /* Allow content to grow vertically */
  overflow-x: hidden; /* Prevent unwanted horizontal scrolling */
}


.slick-slide > div {
  margin: 0 10px;
 
    display: flex !important;
    justify-content: center;
    align-items: center; 
}

.slick-dots li.slick-active button:before {
  color:rgb(187, 131, 28) !important;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} 

.nom-ft {
  @apply font-robo1 font-bold text-red-900 text-xl 
  /* text-slate-900 */
}

.nom-b-ft{
  /*heading thoda bold */
  @apply font-robo2 font-black text-blue-900 text-2xl
}
.hd-ft{
  /* heading only */
  @apply font-robo2 text-5xl font-bold text-pink-950
}